<div class='section-preview-card'>

    <div class="icon-container"><i class="fas fa-file fa-3x"></i></div>
    <h3 class="section-title-link"><%= link_to section.title, section %></h3>
    <% if section.sections.length > 0 %>
        
        <div class="section-nested-links-contaianer">
            <h4>Sub-Sections:</h4>
            <% section.sections.each do |nested_section| %>
                <%= link_to nested_section.title, nested_section, class: 'nested-section-link' %>
            <% end %>
        </div>
    
    <% end %>

</div>