<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright(don't make me sue you!) &copy;  Rails Notebook Project</div>
            <div>
                <a href="#">Privacy Policy(all the datas)</a>
                    &middot;
                <a href="#">Terms &amp; Conditions(all the datas)</a>
            </div>
        </div>
    </div>
</footer>