<div id='section-form-page'>
    <%= render "shared/top_nav" %>
    <%= render "shared/side_nav",  note_book: @section.parent_note_book, editMode: true %>

    <div id="layoutSidenav_content">

        <div id="create-card">
            <h1>Edit Section</h1>  
            <%= render 'form', section: @section %>
        </div>
        <%= render "shared/footer" %>
    </div>
</div>