@import "mixins";
#nb-form-page,
#nb-page {
  height: 100vh;

  @include create-card();

  @include note_book_and_section_form();
}

#nb-page {
  #create-card {
    align-items: flex-start;
    h1 {
      text-decoration: underline;
      margin-bottom: 25px;
    }
  }
  .section-preview-card {
    border-radius: 5px;
    height: fit-content;
    min-height: 200px;
    max-height: 420px;
    width: 100%;
    padding: 5px 15px 5px 15px;
    margin-bottom: 25px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    .section-title-link {
      text-align: center;
      text-decoration: underline;
      margin-bottom: 30px;
    }
    .section-content-preview {
      width: 100%;
      .trix-content {
        height: fit-content;
        max-height: 300px;
        width: 100%;
        overflow-y: scroll;
        @include scrollBar();
      }
    }

    .section-nested-links-contaianer {
      padding: 10px;
      background-color: #212529;
      color: black;
      border-radius: 5px;
      height: 100px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      text-align: center;
      margin-top: 10px;
      h4 {
        font-size: 20px;
        margin-bottom: 2.5px;
        color: whitesmoke;
        text-decoration: underline;
      }
      .nested-section-link {
        font-size: 20px;
      }
      &::-webkit-scrollbar {
        width: 5px; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
      }
      &::-webkit-scrollbar-thumb {
        background: grey;
      }
    }
  }
}

#nb-browse-page {
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  #nb-browse-header {
    @include quickHeaderBlock();
  }
  @include nb-collection-renderer();

  #results-btns {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    input {
      height: 45px;
      width: 90px;
      border-radius: 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      background-color: #007bff;
      border: none;
      color: whitesmoke;
      margin: 0 6px 0 6px;

      &:hover {
        opacity: 0.8;
        transform: translateY(-2.5px);
        transition: 0.2s;
      }
    }
  }

  footer {
    margin-top: auto;
  }
}
